-
 var listvalue = [ 
    {title:'Центры обработки данных (ЦОД)'},
    {title:'Текстильное/пищевое/фармацевтическое производство'},
    {title:'Компьютерные залы и станции связи'},
    {title:'Оранжереи'},
    {title:'«Чистые» помещения'},
    {title:'Холодильные камеры и др.'}]

-
-
 var listsubtype = [ 
    {href:"#v-pills-UE", title:'Увлажнители с погружными электродами UE* humiSteam'},
    {href:"#v-pills-UER", title:'Увлажнители с погружными электродами UER* thermoSteam'},
    {href:"#v-pills-CH", title:'Увлажнители с погружными электродами CH* compactSteam'},
    {href:"#v-pills-UR", title:'Увлажнители с электронагревателями UR*4 heaterSteam'},
    {href:"#v-pills-UG", title:'Газовые влажнители UG* gaSteam'}
    ]
-
-
 var listmodel = [ 
    {href:"#pills-UEB", title:'UE', text:"Basic"},
    {href:"#pills-UEX", title:'UE', text:"X-plus"},
    {href:"#pills-UEW", title:'UE', text:"Wellness"}]
-
-
 var catalog = [ 
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"},
    {href:"#", price:"63 718 руб.", price_euro:"904 €", title:'UE001YD001', text:"Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", src:"/src/image/catalog_item.png"}]
-
-
 var listpills = [ 
    {href:"#pills-IU", title:'Изотермические увлажнители'},
    {href:"#pills-AU", title:'Адиабатические увлажнители'},
    {href:"#pills-IO", title:'Испарительное охлаждение'}]
-
-
 var listfeature = [ 
    {value:'Carel', title:'Бренд'},
    {value:'1,5 кг/ч', title:'Номинальная производительность'},
    {value:'1,12 кВт', title:'Макс. потребляемая мощность'},
    {value:'1~, 220В', title:'Параметры электропитания'},
    {value:'Ø 22/30 мм', title:'Присоединение линии пара'},
    {value:'1', title:'Количество цилиндров'},
    {value:'712х365х275 мм', title:'Размеры оборудования (ВхШхГ)'},
    {value:'850х500х400 мм', title:'Размеры упаковки (ВхШхГ)'},
    {value:'13,5 кг', title:'Вес НЕТТО'},
    {value:'16 кг', title:'Вес БРУТТО'}]
-
-
 var listcarousel = [ 
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'},
    {a:"/src/image/catalog_UE001_BIG.png", img:'/src/image/catalog_UE001_BIG.png'}]
-


mixin carousel
    -for (var i= 0; i<catalog.length; i++) 
        .item
            a(href=listcarousel[i].a data-lightbox="test")
                img(src=listcarousel[i].img alt="user")

mixin feature
    for inner in listfeature
        li.catalog-modal-feature= inner.title

mixin value
    for inner in listfeature
        li.catalog-modal-feature= inner.value

mixin catalog_item 
    -for (var i= 0; i<catalog.length; i++) 
        .col.tree
            .card.h-100.d-flex.align-items-center.catalog-shadow
                img.card-img-top.catalog-card(src=catalog[i].src  alt="item")
                .card-body
                    h3.card-title=catalog[i].title
                    p.d-md-none.d-lg-block.card-text.catalog-card-text=catalog[i].text
                    .d-flex.justify-content-between.flex-xl-row.flex-column
                        .d-flex.flex-md-column.mb-sm-3.md-2.mb-sm-1.adaptive-price
                            p.card-text.catalog-card-price=catalog[i].price
                            p.card-text.catalog-card-price-euro=catalog[i].price_euro
                        button.carel-button.catalog-card-button(type="button" data-bs-toggle="modal" data-bs-target="#exampleModal")
                            P.catalog-card-button-text Подробнее  
mixin pluses
    for inner in listvalue
        li.service_form-list= inner.title

mixin type
    ul.nav.nav-pills.mb-sm-5.mb-5.mt-5.d-flex.justify-content-between(id="pills-tab" role="tablist")
        -for (var i= 0; i<listpills.length; i++)
                if i===0
                    li.nav-item(role="presentation")
                        button.nav-link.active.carel-button.catalog-button.catalog-button-style(data-bs-target=listpills[i].href data-bs-toggle="pill" type="button" role="tab")
                            span.d-flex.justify-content-center.catalog-button-text= listpills[i].title
                else    
                    li.nav-item(role="presentation")
                        button.nav-link.carel-button.catalog-button.catalog-button-style(data-bs-target=listpills[i].href data-bs-toggle="pill" type="button" role="tab")
                            span.d-flex.justify-content-center.catalog-button-text= listpills[i].title

mixin subtype 
    .d-flex.align-items-start.catalog-nav
        .nav.flex-column.nav-pills(id="v-pills-tab" role="tablist" aria-orientation="vertical")
            -for (var i= 0; i<listsubtype.length; i++)
                if i===0
                    button.mb-4.nav-link.catalog-nav-style.active(data-bs-toggle="pill" data-bs-target=listsubtype[i].href type="button" role="tab")
                        span= listsubtype[i].title
                        .d-sm-block.d-none.catalog-stripe
                else    
                    button.mb-4.nav-link.catalog-nav-style(data-bs-toggle="pill" data-bs-target=listsubtype[i].href type="button" role="tab")
                        span= listsubtype[i].title
                        

mixin model 
    ul.nav.nav-pills.mb-2.mt-5.d-flex.justify-content-between(id="pills-tab" role="tablist")
        -for (var i= 0; i<listpills.length; i++)
                if i===0
                    li.nav-item(role="presentation")
                        button.nav-link.active.carel-button.catalog-model(data-bs-target=listmodel[i].href data-bs-toggle="pill" type="button" role="tab")
                            .d-flex.justify-content-center   
                                span.catalog-model-title= listmodel[i].title
                                span.catalog-model-text= listmodel[i].text
                else    
                    li.nav-item(role="presentation")
                        button.nav-link.carel-button.catalog-model(data-bs-target=listmodel[i].href data-bs-toggle="pill" type="button" role="tab")
                            .d-flex.justify-content-center
                                span.catalog-model-title= listmodel[i].title
                                span.catalog-model-text= listmodel[i].text
    
